<div class="list-group articles-list">

  <% element.articles.forEach(function(article) { %>
    <a href="http://www.google.fr" class="list-group-item">
      <h4 class="list-group-item-heading"><%- article.title %></h4>
      <p class="list-group-item-text"><%- article.summary %></p>
    </a>
  <% }); %>

</div>
